* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #37373F;
}

/* Elements
**************************/

a {
    color: #5286EC;
    text-decoration: none;
}

h3 { font-size: 20px; font-weight: 500; color: #37373F; } 

ul li {
    list-style-type: none;
}

/* Flex 
**************************/
.flex__align-center {
    display: flex;
    align-items: center; 
}



/* Colors Shema
*************************/

.color-gray { color: #c7c7c7; font-size: 14px; }
.color-black { color: #37373F; }

/* Header Section
************************/

.header__inner {
    padding: 38px 0;
    display: flex;
}

.phone {
    font-size: 14px;
}

.header__inner div.phone {
    margin-left: 38px;
}


.logo a {
    font-size: 23px;
    color: #000;
}

/* Container  */
.container {
    max-width: 1140px;
    padding: 0 10px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

/* Tooltip 
*****************************/

.tooltip__inner {
    margin-bottom: 25px;
}

.tooltip {
    display: flex;
    align-items: center;
    background: #FC9B09;
    font-size: 20px;
    color: #fff;
    padding: 5px 30px 5px 23px;
    border-radius: 5px;
    position: relative;
}

.tooltip:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -14px;
    width: 0;
    height: 0;
    border-top: 15px solid #FC9B09;
    border-left: 17px solid transparent;
    border-right:  17px solid transparent; 
    border-radius: 5px;
}

.tooltip-content b { font-size: 35px; }
.tooltip-content div { margin: 10px 0; }

.tooltip-icon {
    padding: 14px 10px;
    margin-left: 7px;
    border-radius: 50%;
    border: 1px solid white;
    font-size: 35px;;
}

/* Header */


.intro {
    background: url("../images/helimain.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    
} 

.intro__inner {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.intro__title {
    max-width: 800px;
    margin-bottom: 30px;
    line-height: 49px;
    font-size: 40px;
    color: #fff;
}

.intro__title span {
    color: #FC9B09;
}

/* Content Section 
**********************/

.content {
    font-size: 18px;
    line-height: 26px;
}

.content__inner {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
}

.content-text {
    padding-right: 30px;
    padding-bottom: 20px;
    width: 50%;
}

.content-video {
    width: 50%;  
}

.content-text__title {
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2;
    max-width: 250px;
    margin-bottom: 18px;
}

.content-list__item {
    position: relative;
    padding-left: 50px;
    font-size: 14px;
    margin: 20px 0;
}

.content-list__item:before {
    content: "";
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    left: 0; 
    top: -6px;
}

.content-list__item.icon-ellips:before { background: url("../images/icon/icon-ellips.svg") no-repeat; }
.content-list__item.icon-cam:before { background: url("../images/icon/icon-cam.svg") no-repeat; }
.content-list__item.icon-location:before { background: url("../images/icon/icon-location.svg") no-repeat; }
.content-list__item.icon-msg:before { background: url("../images/icon/icon-msg.svg") no-repeat; }

.content-rating {
    padding: 10px 0;
    border-top: 1px solid #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
}

.content-rating__inner {
    margin-left: 10px;
}


/* Gallery */

.gallery-wrap {
    padding-top: 30px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.gallery__item {
    padding: 5px;
    display: inline-block;
    max-width: 270px;
    max-height: 185px;
}

.gallery__item img {
    width: 100%;
    height: auto;
}

.gallery__more-photo {
    text-align: center;
    padding: 40px 0 25px;
    border-bottom: 1px solid #ccc;
}

.gallery__more-photo a {
    padding: 0 20px;
    position: relative;
    transition: text-decoration linear 5s;
}

.gallery__more-photo a:hover {
    text-decoration: underline;
}

.gallery__more-photo a:after {
    content: "";
    display: inline-block;
    width: 11px;
    height: 6px;
    background: url(../images/icon/down-arrow.svg) no-repeat;
    position: absolute;
    top: 8px;
    left: 0;
}

.gallery__more-photo a:before {
    content: "";
    display: inline-block;
    width: 11px;
    height: 6px;
    background: url(../images/icon/down-arrow.svg) no-repeat;
    position: absolute;
    top: 8px;
    right: 0;    
}



/* About 
*************************/

.about {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 50px;
}

.about-info {
    width: 50%;
}

.about-info h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 26px;
    margin-top: 35px;
    margin-bottom: 25px;
}

.about-info p {
    padding: 15px 0;
}
.about-master {
    width: 50%;
    margin-top: 75px;
    text-align: center;
}

.about-master__name {
    font-size: 18px;
    margin-bottom: 7px  ;
}

.about-master__prof {
    font-size: 14px;
    margin-bottom: 7px  ;
}

.about-master__photo {
    width: 139px;
    height: 139px;
    border-radius: 50%;
    margin: 0 auto 23px;
    position: relative;    
}

.about-master__photo div.icon-love {
    position: absolute;
    right: -70px; top: -15px;
}

.about-master__link {
    font-size: 14px;
}

/* Map 
**************************/

.map {
    padding-bottom: 100px;
    position: relative;
}

.map-content {
    padding: 20px;
    position: absolute;
    top: 20px;
    background: #fff;
    width: 100%;
    max-width: 420px;
    font-size: 18px;
}

.map-list__item {
    position: relative;
    padding-left: 80px;
}

.map-list__item_ {
    padding-left: 80px;   
    padding-bottom: 40px;
}

.map-list__item:after {
    content: "1";
    width: 61px;
    height: 61px;
    background: #FC9B09;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 0;
    text-align: center;
    line-height: 1.8;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}



/* Posts Reviews
**************************/

.post {
    max-width: 630px;
    margin: 30px auto 30px;
}

.post-title {
    margin-bottom: 30px;
}

.post-author {
    display: flex;
}

.post-author__photo {
    margin-right: 19px;
    width: 101px;
    height: 101px;
}
/* 
.post-author__photo img {
    width: 100%;
} */

.post-text {
    margin-left: 120px;
    padding-bottom: 30px;
    border-bottom: 1px solid #c7c7c7;
}

.post-info {
    display:flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #B3B3B3;
}



.post-text div.post-info {
    padding-top: 15px;
}

.post-info div.rating {
    margin-right: 50px;
}

.post-author__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.post-rating__flex {
    display: flex;
    align-items: center;
}






/* Footer Section 
****************************/

.footer-logo {
    padding: 50px 0 25px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-copy {
    background: #FAF9F8;    
}

.footer-copy div.container {
    padding: 10px 0 30px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 14px;
    color: #B3B3B3;
    background: #FAF9F8;
}

.footer__phone {
    margin-bottom: 12px;
    padding: 0 10px;
}


.icon-pay {
    margin-left: 10px;
}

.icon-pay__mastercard {
    margin-right: 20px;
}

/* Rating
*****************************/
.rating { display: inline-block; }
.icon-calend img { display: inline-block; }

/* Text
******************************/
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center }

/* Buttons Style 
****************************/
.btn { border: 3px solid; border-radius: 5px; }

.btn-md { font-size: 18px; padding: 24px 37px 23px; font-weight: 900;}
.btn-sm { font-size: 14px; padding: 16px 32px; border: 2px solid;}

.btn-white { color: white; }
.btn-yellow { color: #FC9B09;}

/* Icons
****************************/
.icon-cup { margin-right: 12px; }
.rating__inner-table { margin-left: 12px; }

/* Table
**********************/

.table { padding-bottom: 80px; }

.table__title {
    max-width: 280px;
    margin: 30px 0 25px;
}


.timetable {
    border-collapse: collapse;
    border: 1px solid #c7c7c7; 
    width: 100%;
    max-width: 770px;
    font-size: 18px;
    letter-spacing: 0.3px;
}

.timetable__title {
    padding: 20px 30px 20px;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    position: relative;
}

.timetable__title:after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    background: url(../images/icon/icon-calend.svg) no-repeat center center;
    margin-left: 14px;
    cursor: pointer;
}

.timetable th a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.timetable td {
    padding: 15px 30px;
    border-top: 1px solid #c7c7c7;
}

.timetable td div {
    padding: 5px 0;
}

.timetable th.icon-calend { margin-left: 20px; }


/* custom */
.clear { clear: both; }

/* text 
**********************************/
.text-left { text-align: left; }
.text-right { text-align: right; }

/* post
**********************************/

.post {
    padding-bottom: 15px;
}

.more-posts { margin-right: 100px;}
.post-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-end;
}

.author {
    display: flex; 
    align-items: flex-end;
    margin-right: 40px;
 }

 .author__inner {
    margin-bottom: 20px;     
 }

 .author__photo {
     margin-right: 19px;
     width: 101px;
     height: 101px;
     overflow: hidden;
     border-radius: 50%;
 }

 .author__photo img {
     width: 100%;
     height: auto;
 }

 .author__name {
     font-size: 18px;
 }

 .author__rating {
     margin-top: 15px;
 }

 .author__check {
    margin-bottom: 20px; 
}

.post-content {
    max-width: 510px;
    float: right; 
}

.post-footer {
    width: 100%;
    max-width: 510px;
    float: right; 
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c7c7c7;
}

/* socila icons 
***********************************************************/

.soc-icons {
    display: flex;
    align-items: center;
}

.soc-icons a { padding: 0 15px; }

/* Video
**********************************************************/
.video-player {
    max-width: 554;
    max-height: 374;
}

.video-player img {
    width: 100%;

}

/* Media 
********************************************************/


@media (max-width: 427px){

    .posts__title {
        text-align: center;
        font-size: 30px;
        margin-bottom: 40px;
    }

    .author__check {
        margin-top: 10px;
    }

}

@media (max-width: 576px){
    .about {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .about-master,
    .about-info {
        width: 100%;
    }
    .intro__title {
        font-size: 32px;
    }
    .phone {
        display: none;
    }

    .post-title {
        text-align: center;
        font-size: 28px;
    }

    .content__inner {
        flex-direction: column-reverse;
    }

    .content-text, .content-video {
        width: 100%;
    }

}




